.slds-progress_vertical .slds-progress__item {
    align-items: start !important;
}

.slds-progress_vertical .slds-progress__item.slds-is-active:before {
    bottom: 0;
}
.slds-progress_vertical .slds-progress__item.slds-is-active:after {
    top: 25px;
}

.slds-progress_vertical .slds-progress__item_content {
    margin-top: 0;
}

.display-block {
    display: block;
}

.bg-white{
    background: white;
}