[data-id=container] {
    display: inline-flex;
    width: 100%;
    align-items: end;
    position: relative;
}

lightning-button-icon.slds-m-top_x-large {
    margin-top: 1.8rem;
}

.slds-m-bottom_x-small {
    margin-bottom: var(--lwc-spacingXSmall,0.5rem) !important;
}

.slds-form-element {
    width: 100%;
}
.slds-form-element.slds-has-error {
    margin-bottom: -1.25rem;
}

.btn-minus {
    position: absolute;
    left: 0.25rem;
    z-index: 1;
}
.btn-plus {
    position: absolute;
    right: 0.25rem;
    z-index: 1;
}