.container {
    overflow: hidden;
    border-radius: 1rem;
}

.loading {
    margin: 0;
    padding: 0;
    height: inherit;
    overflow: hidden;
    position: relative;
    background-color: #e2e2e2;
}

.loading::after {
    display: block;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    transform: translateX(-100%);
    background: linear-gradient(90deg, transparent, rgba(142, 138, 138, 0.2), transparent);
    animation: loading 1.5s infinite;
}

@keyframes loading {
    100% {
        transform: translateX(100%);
    }
}