/* DESKTOP */
@media (min-width:480px) {
    .panel-footer.slds-docked-form-footer {
        position: sticky;
    }
}

/* Mobile Phones */
@media (max-width:480px) {
    .panel-footer.slds-docked-form-footer {
        padding: .75rem;
        box-shadow: none;
        border-top: 1px solid #d8dde6;
    }
}

.slds-panel__body {
    min-height: 100vh;
}

.slds-panel__header {
    height: 3rem;
}