.slds-input {
    --slds-c-input-spacing-horizontal-start: var(--lwc-spacingXLarge,2rem);
}

.slds-input__icon_right {
    right: var(--lwc-spacingSmall,0.75rem);
}

.slds-input__icon_left {
    left: var(--lwc-spacingSmall,0.75rem);
}