.slds-icon-utility-search {
    top: 1rem;
}

.slds-listbox_vertical .slds-listbox__option_has-meta .slds-media__figure, .slds-listbox_vertical .slds-listbox__option--has-meta .slds-media__figure, .slds-listbox--vertical .slds-listbox__option_has-meta .slds-media__figure, .slds-listbox--vertical .slds-listbox__option--has-meta .slds-media__figure {
    margin-top: 0.1rem;
}

.slds-icon_container.slds-icon-utility-search{
    pointer-events: all;
    cursor: pointer;
}

.slds-combobox-group{
    display: block;
}

.error-helptext{
    top: -2px;
    position: relative;
}

.slds-combobox-addon_start.slds-combobox-addon_end .slds-combobox__input {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}